body {
  margin: 0;

  background: url('./assets/background.jpg') no-repeat;
  background-size: cover;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#game-board {
  background: #dddddd;
  /* width: 820px;
  height: 540px; */
  padding: 5vh;
  margin: 5vh auto;
  border-radius: 2vh;
  box-shadow: inset 0px 0px 20px -6px #615961;
}

.custom-card {
  display: inline-block;
  perspective: 300px;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 0.6s ease;
}

.custom-card .front,
.custom-card .back,
.custom-card .vanished {
  transition: transform 0.6s ease;
}

.custom-card .front {
  left: 0;
  top: 0;
  transform: rotateY(-180deg) translateZ(1px);
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.custom-card .back {
  background-color: #456783;
  transform: rotateY(180deg);
  cursor: pointer;
}


.card.turned {
  pointer-events: none;
}


.card.turned .front {
  transform: rotateY(0deg);
}

.card.turned .back {
  transform: rotateY(180deg);
}

.card .back,
.card .front,
.card .vanished {
  width: 10vh;
  height: 10vh;
  font-size: 64px;
  transition: transform 0.6s ease;
}

.card .back {
  background-color: #456783;
  cursor: pointer;
}

.card .front {
  left: 0;
  top: 0;
  transform: rotateY(-180deg) translateZ(1px);
  backface-visibility: hidden;
}

.card .vanished {
  background-color: #dddddd;
}

#score {
  background-color: rgba(215, 44, 44, 0.8);
  font-family: 'Times New Roman', Times, serif;
  border-radius: 1vh;
  font-size: 4vh;
  width: 20vh;
  padding: 2vh;
  margin: 2vh;
  /* margin-left: 75%; */
}

h1 {
  color: rgba(215, 40, 40, 0.9);
  font-weight: bolder;
  font-size: 8vh;
  text-align: center;
  text-shadow: 0px 0px 20px #969696;
}

h2 {
  margin-top: 0;
  color: #456783;
  font-weight: bolder;
  font-size: 5vh;
  text-align: center;
  text-shadow: 1px red;
}

p {
  font-weight: bolder;
  font-size: 3vh;
  text-align: center;
}

.top-bottom-margin {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

}